@import "./Others/css/Variables.css";

/* Reset das configurações padrões */
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

@font-face {

    font-family: "Title";
    src: url("./fonts/Title/Poppins-SemiBold.ttf");

}
@font-face {

    font-family: "Text";
    src: url("./fonts/Text/Poppins-Regular.ttf");

}

body{
    
    background-color: var(--bg);
    font-family: "Text";
    color: var(--text);
    overflow-x: hidden;

}

/* Classes do Bootstrap */
.container {

    max-width: 100%;
    width: 1000px !important;
    padding: 0px 40px;

}
button[type=submit] {

    width: 100%;
    background-color: var(--theme) !important;
    border-color: var(--theme);
    border-radius: var(--rounded);

}
input:focus {

    border-color: var(--theme) !important;
    box-shadow:0 0 0 .25rem var(--InputFocus) !important;

}

/* Apenas para as telas de Login e Cadastro */
.bgLight {

    background-color: white;

}

h1 {

    font-family: "Title";

}
a {

    color: var(--text);

}
a:hover {

    color: var(--text);

}

