@import "../../Others/css/Variables.css";

.Header {

    height: 50px;

}

.UserIcon {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: var(--text2);
    border-radius: 999px;
    font-size: 15px;

}

/* Botão de adição de tarefas */
.AddButton > div {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 999px;
    transition: 0.2s;

}
.AddButton:hover {

    cursor: pointer;

}
.AddButton:hover > div {

    background-color: var(--theme);

}
/* Ícone */
.AddButton:hover > div > i {

    color: white !important;

}
.AddButton:hover > p {

    transition: 0.2s;
    color: var(--theme);

}

.NoProjects {

    width: 300px;
    
}
.NoProjects > img {

    width: 250px;

}
.NoProjects > .SubTitulo {

    font-size: 14px;

}

/* Formulário de criação de projetos */
.NewProjectForm {

    width: 100%;
    border: 1px solid var(--detailsDark);
    border-radius: var(--rounded);
    
}
.NewProjectForm > .Inputs {

    padding: 8px;

}
.NewProjectForm > .Botoes {

    border-top: 1px solid var(--detailsDark);
    padding: 8px;

}
/* Input de título */
#projectName {

    width: 100%;
    border: none;
    background-color: transparent;
    color: var(--text2);

}
#projectName:focus {

    outline: none;
    box-shadow: none !important;

}
/* Input de descrição */
#projectDescription {

    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 13px;
    color: var(--text2);
    resize: none;

}

.Project {

    border-bottom: 1px solid var(--subTitle);
    padding: 20px 0px;
    
}
.Project > a {

    width: 100%;

}
.Project > a > .Informations {

    width: 100%;

}
.Project > a > .Informations > section > p {

    color: var(--text2);

}
.ProjectBtn {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 2px;
    border-radius: var(--rounded);
    cursor: pointer;
    
}
.ProjectBtn:hover {

    background-color: #404040;
    
}
.ProjectBtn > i {

    color: var(--subTitle);
    
}
/* Botões */
.Project:hover > .Btns {

    display: flex !important;

}
/* Botão para concluir tarefa */
.Project > a > form > button, .ModalSeeDetails > section > .Conteudo > div > button {

    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 18px;
    max-height: 18px;
    border: 1px solid var(--subTitle);
    border-radius: 999px;
    cursor: pointer;
    background-color: transparent !important;

}
.Project > a > form > button:focus, .ModalSeeDetails > section > .Conteudo > div > button:focus {

    border-color: var(--subTitle) !important;
    box-shadow: none !important;

}
.MarkBtn:hover {
    
    border-color: var(--subTitle) !important;

}
.MarkBtnCorrect {

    border-color: var(--correct) !important;

}
/* Ícone */
.MarkBtnIcon {
    
    color: var(--subTitle);
    font-size: 12px;
    line-height: 0 !important;
    opacity: 0;
    transition: 0.2s;

}
.MarkBtn:hover > .MarkBtnIcon {
    
    opacity: 1;

}
.MarkBtnIconChecked {

    color: var(--correct);
    font-size: 12px;
    line-height: 0 !important;
    transition: 0.2s;

}

.ModalDelete {

    max-width: 100%;
    width: 450px;
    border-radius: var(--rounded);
    padding: 10px;
    background-color: var(--bg);
    overflow: hidden;

}

.ModalSeeDetails {

    max-width: 100%;
    width: 850px;
    height: 500px;
    border-radius: var(--rounded);
    background-color: var(--bg);
    overflow-y: auto;
    
}
.ModalSeeDetails > header {

    height: 48px;
    border-bottom: 1px solid var(--subTitle);
    
}
/* Título */
.ModalSeeDetails > header > .Title > i {

    color: var(--text2);
    
}
.ModalSeeDetails > header > .Title > p {

    font-size: 13px;
    color: var(--text2);
    
}
/* Botão para fechar o modal */
.ModalSeeDetails > header > .Btns > a {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 2px;
    border-radius: var(--rounded);
    transition: 0.2s;
    cursor: pointer;
    
}
.ModalSeeDetails > header > .Btns > a:hover {

    background-color: #404040;
    
}
/* ícone */
.ModalSeeDetails > header > .Btns > a > i {

    color: var(--text2);
    
}
.ModalSeeDetails > section > .Conteudo, .ModalSeeDetails > section > .Conteudo > section {

    width: 100%;
    padding: 10px;
    
}
.ModalSeeDetails > section > .Conteudo
.ModalSeeDetails > section > .BarraLateral {

    background-color: var(--btnBg);
    width: 270px;
    height: 100vh;
    padding: 5px 20px;

}
