:root {

    --theme: #dc4c3e;
    --details: #e6e6e6;
    --detailsDark: #3d3d3d;
    --bg: #1e1e1e;
    --text: #202020;
    --text2: #a5a5a5;
    --subTitle: #757575;
    --error: #ff0800;
    --errorBoxShadow: rgb(255, 8, 0, .5);
    --InputFocus: rgb(220, 76, 62, .5);

    --rounded: 8px;

}
